<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework</title>
</head>
<body>
    <h1>Homework</h1>

    <label for="title">Title:</label>
    <input type="text" id="title" placeholder="Enter title">
    <br>
    <br>
    <label for="priority">Enter priority: (low, medium, high) </label>
    <input type="text" id="priority" placeholder="Priority:">
    <br>
    <br>
    <label for="color">Color:</label>
    <input type="text" id="color" placeholder="Color:">
    <br>
    <br>
    <label for="description"></label>
    <textarea name="description" id="description">Enter description</textarea>
    <br>
    <br>
    <button id="addReminderBtn">Add reminder</button>
    <button id="allRemindersBtn">Show all reminders</button>
    <br>
    <br>
    <div id="table"></div>
    <script src="../src/app.js"></script>
</body>
</html>